
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

[{Makefile,*.go}]
indent_style = tab

[{*.sh,*.bash,*.zsh}]
indent_size = 2

[{*.html,*.htm,*.xml,*.json,*.js,*.jsx,*.ts,*.tsx,*.css,*.less,*.scss,*.sass,*.gohtml}]
indent_size = 2
